.dflex{
    display: flex;
}

.img1, .img2{
    box-shadow: 1px 2px 3px 4px whitesmoke;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(230, 229, 179);
    text-shadow: 3px 3px rgba(30, 255, 244, 0.671);
}
img{
    border: 2px solid #ccc;
    border-radius: 100px;
    
}


body{
    background-size: cover;
    background: linear-gradient(to left, pink, green);
}

 ul{ 
    list-style-type: circle; 
list-style-position: inside; 
list-style-image: url(/IMAGES/IMG-20230413-WA0031\ \(2\).jpg) 
 }
/*li{
    padding-left: 2rem;
    background-image: url(/IMAGES/IMG-20230323-WA0212.jpg);
    background-position: 0 0;
    background-size: 16px;
    background-repeat: no-repeat;
    list-style-type: square;
}*/